@charset "ISO-8859-1";
body{
	overflow: hidden;
}
.background
{
	margin-top: 0px;
}
.background video{
	
	width: 100%;
	height: 60%;
	
}
.text
{
	position: absolute;
	top: px;
	left: 300px;
	background-color: transparent;
	text-align: center;
	font-weight: bold;
	font-family:sans-serif;
}