@charset "ISO-8859-1";
body
{
	background-image: url("/Images/logo-white2.png");
	background-repeat: no-repeat;
	background-size: cover;
}
*{
	color: rgb(192, 192, 192);
	font-weight: bold;
}
input{
	display: block;
	padding: 5px;
	border: none;
	outline: none;
	background-color: transparent;
	border-bottom: 1px darkgreen solid;
	font-size: 15px;
	width: 200px;
	color: aqua;
}
.updateAdmin
{
	background-color: transparent;
	width: 400px;
	height: 400px;
	position: absolute;
	left: 400px;
	top: 0;
}
button
{
	color: rgb(192, 192, 192);
	background-color: green;
	border: 1px black solid;
	padding: 9px;
	cursor: pointer;
	position: relative;
	left: 45px;
	top: 5px;
	font-weight: bold;
}
a{
	position: relative;
	top: 20px;
	border: 1px solid darkslategray;
	padding: 10px;
	background-color: darkslategray;
	text-decoration: none;
	
}