<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home :Pavan Tea</title>
    <link rel="stylesheet" href="" th:href="@{/css/Navigation.css}">
    <link rel="stylesheet" href="" th:href="@{/css/Home.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <nav th:fragment="navbar()">
        <ul>
            <img src="/Images/suhas.jpg" alt="Owner_Logo" class="Owner_Logo">
                <a href="/home" >Home</a>
                <a href="/products"  >Products</a>
                <a href="/location">Locate_Us <i style="color: red;" class="fa-solid fa-location-crosshairs"></i></a>
                <a href="/about" >About_Us</a>
                <a href="/login" >Log_In <i style="color: red;" class="fa-solid fa-right-to-bracket"></i>&nbsp;&nbsp;&nbsp;&nbsp;</a>
        </ul>
    </nav>
   >
</body>
</html>