<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Admin : Update</title>
		<link rel="stylesheet" href="" th:href="@{/css/Update_User.css}" />
</head>
<body>
	<a href="/services"> Back to Services</a>
	<div class="updateUser">
		<h3 style="color: red;"> UPDATE EXISTING USER/CUSTOMER </h3>
		<form  action=""  th:action="@{'/updatingUser/'+${user.u_id}}"    th:object="${user}">
			User_Id :
			<input  type="hidden" name="uid" th:value="${user.u_id}" th:text="${user.u_id}"/><br />
			User_Name :
			<input type="text" name="uname" th:value="${user.uname}"/>
			User_Emai :
			<input type="email" name="uemail" th:value="${user.uemail}"  />
			User_Number :
			<input type="tel" name="unumber" th:value="${user.unumber}" pattern="[0-9]{10}"/>
			
		<button type="submit">Update_User</button>
		</form>
	</div>
</body>
</html>