<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<title>TEA : LOCATION</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<link rel="stylesheet" href="" th:href="@{/css/Navigation.css}" />
	<link rel="stylesheet" href="" th:href="@{/css/Locate_us.css}" />
</head>

<body>
	<nav th:replace="~{Navigation::navbar()}"></nav>
	<center>
		<h1 style="color: green; ">Our Location</h1>
		<small style="color: red;font-weight: bold;">Internet required..</small>
	</center>
	<div class="location">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7893655.513234244!2d71.02106038976581!3d14.974710144524717!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba35a4c37bf488f%3A0x41f1d28cd1757cd5!2sKarnataka!5e0!3m2!1sen!2sin!4v1695007509155!5m2!1sen!2sin" 
width="1200" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>	</div>
</body>

</html>