<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<link rel="stylesheet" href="" th:href="@{/css/Update_Product.css}" />
</head>

<body>
		<a href="/services">Back_To_Services</a>
	<div class="updateProduct">
		<h3 style="font-weight: bolder;color: seagreen;">UPDATE EXISTING PRODUCT :</h3>
		<form action="" th:action="@{'/updatingProduct/'+${product.pid}}" th:object="${product}">
			Product_Id:
			<input type="hidden" th:text="${product.pid}" th:value="${product.pid}" /><br />
			Product_Name :
			<input type="text" name="pname" th:value="${product.pname}" /> <br />
			Product_Price :
			<input type="text" name="pprice" th:value="${product.pprice}" /><br />
			Product_Desc : <br />
			<textarea name="pdescription" th:value="${product.pdescription}" id="" cols="10" rows="1">

	</textarea><br />
			<button type="submit">Update_Product</button>

		</form>
	</div>
</body>

</html>