<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<link rel="stylesheet" href="" th:href="@{/css/Update_Admin.css}" />
</head>
<body>
		<a href="/services">Back to Services</a>
	<div class="updateAdmin">
				<h3 style="color: red;">UPDATE EXISTING ADMIN / PARTNER DETAILS</h3>
		<form action="" th:action="@{'/updatingAdmin/'+${admin.adminId}}" th:object="${admin}">
			Admin_Id :
			<input type="hidden" name="adminId" th:value="${admin.adminId}" th:text="${admin.adminId}"/><br />
			Admin_Name :
			<input type="text"  name="adminName"    th:value="${admin.adminName}"/><br />
			Admin_Number :
			<input type="tel"  name="adminNumber" th:value="${admin.adminNumber}" pattern="[0-9]{10}"/> <br />
			Admin_Email :
			<input type="email" name="adminEmail" th:value="${admin.adminEmail}" /> <br />
			
			<button type="submit">Update_Admin</button>
			
		</form>
	</div>
</body>
</html>